<div class="w-3/4 mx-auto mt-6 p-6">
  <div class="mb-5">
    <label>
      <input type="checkbox" [(ngModel)]="check"/> Is Active
    </label>
   aqui: {{check}}
  </div>
  <div *ngIf="check else presionar" class="max-w-sm rounded shadow-lg bg-slate-400">
    <img
      class="ml-10"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png"
      width="250"
      height="250"
    />
    <div class="px-6 py-4 bg-white">
      <div class="font-bold text-xl mb-2">Angular</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
        quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
        nihil.
      </p>
    </div>
  </div>
  <ng-template #presionar>
    <p>Activa el Checkbox para mostrar el contenido</p>
  </ng-template>
</div>
